<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/amazeui/1.0.0-rc1/css/amazeui.basic.css">
<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/amazeui/1.0.0-rc1/css/amazeui.basic.min.css">
<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/amazeui/1.0.0-rc1/css/amazeui.css">
<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/amazeui/1.0.0-rc1/css/amazeui.min.css">
<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/amazeui/1.0.0-rc1/css/amazeui.widgets.css">
<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/amazeui/1.0.0-rc1/css/amazeui.widgets.min.css">
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.basic.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.basic.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.widgets.helper.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.widgets.helper.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.widgets.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/amazeui/1.0.0-rc1/js/amazeui.widgets.min.js"></script>

