 <script type="text/javascript" src="#springUrl('/resources/easyui/datagrid-detailview.js')"></script>
<script type="text/javascript" src="#springUrl('/resources/js/stockIn.js')"></script>
<table id="stockInDg" style="height:500px"></table>